METERSPHERE_BASE_URL=https://pixiu.snowballtech.com
METERSPHERE_ACCESS_KEY=
METERSPHERE_SECRET_KEY=
METERSPHERE_ORGANIZATION=100001
METERSPHERE_PROJECT=21916479377121280

SMTP_HOST=smtp.feishu.cn
SMTP_PORT=465
SMTP_USE_SSL=true
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
TZ=Asia/Shanghai
